#allStates * {
  text-align: center;
  border: 0;
}

#stateSlider * {
  transition-duration: .2s;
}

#stateSlider #minbeds {
  display: none;
}

#stateSlider span.ui-slider-handle.ui-corner-all.ui-state-default {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: -3px;
  cursor: pointer;
}

#stateSlider span.ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover, #stateSlider span.ui-slider-handle.ui-corner-all.ui-state-default.ui-state-active {
  margin-top: -8px;
  margin-left: -15px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #9a989a !important;
  z-index: 999;
  position: absolute;
}

#stateSlider .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
  background: #a8c1c4;
}

#stateSlider div#slider {
  background: #4d4b4d !important;
}

#stateSlider .showStageName {
  width: 210px;
  position: absolute;
  opacity: 1;
  font-size: 12px;
  margin-left: -45px;
  margin-top: 35px;
  text-align: left;
  font-style: italic;
}

#stateSlider .possibleState {
  margin-top: -8px;
  margin-left: -9px;
  position: absolute;
  z-index: 9;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
  border: 1.5px dashed black;
  top: 0;
}

.loadImgBlock {
  width: 100%;
  padding: 20px;
}

.loadImgBlock input {
  margin: auto;
}

/*stateSlider*/
#slider1, #slider2, #slider3{
  margin: auto;
  height: 280px;
  width: 5px;
  background: #e2e2e2;
}
.slider-container{
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 13px;
  transition-duration: .5s;
}
.slider-container-active{
  box-shadow: 0px 5px 4px 4px rgba(0,0,0,.25);
}
#slider1 > span, #slider2 > span, #slider3 > span{
  width: 25px;
  height: 25px;
  margin-left: -6px;
  outline: none;
  background: #c05454;
  border: 0;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  border-radius: 50px;
}
.bg{
  background: #bf5454;
  width: 12px;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
  margin-left: -5px;
}
.slider-info-container{
  opacity: 0;
}
/*stateSlider*/

/*Заказ №*/
#orderText {
  color: #6f6f6f !important;
  display: inline-block;
  font-weight: 100;
  font-size: initial;
}
#orderNumber{
  background: transparent;
  border: 0;
  border-bottom: 1px solid #6f6f6f;
}
/*Заказ №*/

/*кнопки*/
.sendGet, .addImg, .saveHistory{
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  background: transparent;
  padding: 10px 20px;
  border: 0;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-size: 15px;
}
.sendGet:hover, .addImg:hover, .saveHistory:hover{
  background: #e2e3ff;
  color: #656581;
}
/*кнопки*/

.slider-container-active h4{
  color: #bf5454;
}