.display-none
    .mehanizmyi-modal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.mehanizmyi-modal-title
            h3 Механизмы
            hr
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.mehanizmyi-modal-details.text-right
            .details Подробнее
                span
                    i.fa.fa-question(aria-hidden='true')
        .col-xs-8.col-sm-8.col-md-8.col-lg-8.mehanizmyi-modal-text-left
            h5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .imgTestLeft
        .col-xs-4.col-sm-4.col-md-4.col-lg-4.mehanizmyi-modal-text-right
            h3 TEXT
            h4 TEXT
            br
            br
            br
            br
            h5 Lorem Ipsum is simply
            h5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            br
            h5.col-xs-6.col-sm-6.col-md-6.col-lg-6 Вес полотна
            h5.col-xs-6.col-sm-6.col-md-6.col-lg-6 Цена
            br
            h5.box.row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6 80 кг -
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.red 6620 руб.

    .podvesyi-modal
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.podvesyi-modal-left
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                .imgTest
                h5 Текст
                h5 Текст
                h5 Текст
                h5 Текст
                h4 Цена:
                    span.red 15 000 руб.
            .col-xs-4.col-sm-4.col-md-4.col-lg-5.podvesyi-modal-img
                .imgTest
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.podvesyi-modal-left
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                .imgTest
                h5 Текст
                h5 Текст
                h5 Текст
                h5 Текст
                h4 Цена:
                    span.red 15 000 руб.
            .col-xs-4.col-sm-4.col-md-4.col-lg-5.podvesyi-modal-img
                .imgTest





    .uplotnitel-modal
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.uplotnitel-modal-left
            .col-xs-8.col-sm-8.col-md-8.col-lg-7
                .col-xs-5.col-sm-5.col-md-5.col-lg-5
                    .imgTestLeft
                .col-xs-7.col-sm-7.col-md-7.col-lg-7
                    .imgTestRight
            .col-xs-4.col-sm-4.col-md-4.col-lg-5.uplotnitel-modal-text
                h4 Цвет уплотнителя
                h3 К401
                h5 Цена:
                    span.red 15 000 руб.
                br
                h5 Цвет:
                button Прозрачный
                button Прозрачный

        .col-xs-6.col-sm-6.col-md-6.col-lg-6.uplotnitel-modal-left
            .col-xs-8.col-sm-8.col-md-8.col-lg-7
                .col-xs-5.col-sm-5.col-md-5.col-lg-5
                    .imgTestLeft
                .col-xs-7.col-sm-7.col-md-7.col-lg-7
                    .imgTestRight
            .col-xs-4.col-sm-4.col-md-4.col-lg-5.uplotnitel-modal-text
                h4 Цвет декоративной заглушки в паз
                h3 К401
                h5 Цена:
                    span.red 15 000 руб.
                br
                h5 Цвет:
                button Прозрачный
                button Прозрачный
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.uplotnitel-modal-left
            .col-xs-8.col-sm-8.col-md-8.col-lg-7
                .col-xs-5.col-sm-5.col-md-5.col-lg-5
                    .imgTestLeft
                .col-xs-7.col-sm-7.col-md-7.col-lg-7
                    .imgTestRight
            .col-xs-4.col-sm-4.col-md-4.col-lg-5.uplotnitel-modal-text
                h4 Цвет декоративной заглушки торцевой
                h3 К401
                h5 Цена:
                    span.red 15 000 руб.
                br
                h5 Цвет:
                button Прозрачный
                button Прозрачный
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.uplotnitel-modal-left
            .col-xs-8.col-sm-8.col-md-8.col-lg-7
                .col-xs-5.col-sm-5.col-md-5.col-lg-5
                    .imgTestLeft
                .col-xs-7.col-sm-7.col-md-7.col-lg-7
                    .imgTestRight
            .col-xs-4.col-sm-4.col-md-4.col-lg-5.uplotnitel-modal-text
                h4 Вид крепления
                h3 К401
                h5 Цена:
                    span.red 15 000 руб.
                br
                h5 Цвет:
                button Прозрачный
                button Прозрачный