.display-none
    .furnitura-net
        .container
            .row.text-center
                h1 Нет фурниртуры
    .furnitura-razdvizhnyie
        .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.razdvizhnyie-mehanizmyi#razdvizhnyie-mehanizmyi-select
            h3 Раздвижные механизмы
            img(src='img/furnityra/1.png')
            h4.text Standart до 40 кг
            h4
                | Цена:
                span.price.red 0
        .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.mehanizm-sinhronizatsii#mehanizm-sinhronizacii-select
            h3 Механизм синхронизации
            img(src='img/furnityra/3.png')
            h4.text Синхронный
            h4
                | Цена:
                span.price.red 0
        .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.napravlyayuschie#naprav-select
            h3 Направляющие
            img(src='img/furnityra/4.png')
            h4.text Неокрашенная, Россия
            h4
                | Цена:
                span.price.red 0
        .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.vidKrepleniyaNapravlyayuschey#vid-kreplenia-naprav-select
            h3 Вид крепления направляющей
            img(src='img/furnityra/6.png')
            h4.text К стене, Россия
            h4
                | Цена:
                span.price.red 0
        .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.povodok#povodok-select
            h3 Поводок
            img(src='img/furnityra/8.png')
            h4.text Белый
            h4
                | Цена:
                span.price.red 0
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .checkbox.aksessuaryi-block-swith
                center
                    label
                        input(type='checkbox', onchange='aksessuaryiBlockSwith()')
                        span.checkbox-material
                            span.check
                        |                     Аксессуары
        span.aksessuaryi-block-hs(style="display: none;")
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.dovodchik#dovodchik-select
                h3 Доводчик
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.dekorativnayaPlankaDlyaProfilya#dek-planka-dlya-profilya-select
                h3 Декоративная планка для профиля
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.schetochnyiyUplotnitel#schetochnii-uplotnitel-select
                h3 Щеточный уплотнитель
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.rakovina#ruchka-select
                h3 Ручка
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.zamok#zamok-select
                h3 Замок дверной
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.furnitura-price.text-right
            h3
                | Сумма:
                span.price
    .skladnaya-peregorodka
        .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center.setSkladnyieMehanizmyi#mehanizm-sinhron-skladnie
            h3 Складные механизмы
            img(src='img/furnityra/29.png')
            h4.text B-100 до 80 кг (Degon, Польша)
            h4
                | Цена:
                span.price.red 0
        .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center.petli-skladnie#petli-skladnie
            h3 Петли
            img(src='img/furnityra/11.png')
            h4.text Комплектные, Degon Польша
            h4
                | Цена:
                span.price.red 0
        .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center.napravlyayuschie-skladnie#napravlyayuschie-skladnie
            h3 Направляющие
            img(src='img/furnityra/25.png')
            h4.text Неокрашенная, Degon Польша
            h4
                | Цена:
                span.price.red 0
        .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center.vidKrepleniya-skladnie#vid-krepleniya-napravlyayuschih-skladnie
            h3 Вид крепления направляющей
            img(src='img/furnityra/6.png')
            h4.text К стене
            h4
                | Цена:
                span.price.red 0
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .checkbox.aksessuaryi-block-swith
                center
                    label
                        input(type='checkbox', onchange='aksessuaryiBlockSwith()')
                        span.checkbox-material
                            span.check
                        |                     Аксессуары
        span.aksessuaryi-block-hs(style="display: none;")
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.dekorativnayaPlankaDlyaProfilya-skladnie#dek-planka-dlya-profilya-skladnie
                h3 Декоративная планка для профиля
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.schetochnyiyUplotnitel-skladnie#schetochnii-uplotnitel-skladnie
                h3 Щеточный уплотнитель
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.rakovina-skladnie#ruchka-skladnie
                h3 Ручка
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.kreplenieRuchki-skladnie#kreplenie-ruchli-skladnie
                h3 Крепление ручки
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
            .col-xs-15.col-sm-15.col-md-15.col-lg-15.text-center.zamokSkladnyie-skladnie#zamok-skladnie
                h3 Замок дверной
                img(src='img/furnityra/0.png')
                h4.text Не выбрано
                h4
                    | Цена:
                    span.price.red 0
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.furnitura-price.text-right
            h3
                | Сумма:
                span.price
    .mobilnyie-peregorodki
        .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center.nozhki-mobil#nozhki-mobilnie
            h3 Ножки
            img(src='img/furnityra/19.png')
            h4.text Euroshop/Standart - круглая регулируемая
            h4
                | Цена:
                span.price.red 0
        .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center.stoyki-mobil#stoyki-mobilnie
            h3 Стойки
            img(src='img/furnityra/0.png')
            h4.text Не выбрано
            h4
                | Цена:
                span.price.red 0
        .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center.tipSoedineniyaPoloten-mobil#tipSoedineniyaPoloten-mobilnie
            h3 Тип соединения полотен
            img(src='img/furnityra/11.png')
            h4.text Петли
            h4
                | Цена:
                span.price.red 0
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.furnitura-price.text-right
            h3
                | Сумма:
                span.price