.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center.loadImgBlock
			//input(type='file', multiple='multiple', accept='.txt,image/*')

		.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
			button.btn.btn-raised.btn-default.addImg(type="button") Добавить картинку
			button.btn.btn-raised.btn-default.sendGet(type="button") Скачать PDF
			button.btn.btn-raised.btn-default.saveHistory(type="button") Сохранить историю