.napolnenie-left-tab.display-none
    .tabbable.tabs-left
        ul.nav.nav-tabs
            li
                a(href='#derevo', data-toggle='tab', style='font-size: 20px;') Дерево
                .triangle
                .triangle-w
            li.active
                a(href='#steklo', data-toggle='tab', style='font-size: 20px;') Стекло
                .triangle
                .triangle-w
            li
                a(href='#zerkalo', data-toggle='tab', style='font-size: 20px;') Зеркало
                .triangle
                .triangle-w
            li
                a(href='#polikarbonat', data-toggle='tab', style='font-size: 20px;') Поликарбонат
                .triangle
                .triangle-w
            li
                a(href='#paneli', data-toggle='tab', style='font-size: 20px;') Панели
                .triangle
                .triangle-w
        .tab-content
            #derevo.tab-pane
                .col-md-2
                    center
                        h4(style='height: 70px;') ЛДСП
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/6.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%
                .col-md-2
                    center
                        h4(style='height: 70px;') Фанера
                        img(onclick="SelectMaterialEnd('%number%','%i%','10','%plusOne%');", src='img/material/10.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price10%
            #steklo.tab-pane.active
                .col-md-2
                    center
                        h4(style='height: 70px;') Обычное флоат
                        img(onclick="SelectMaterialEnd('%number%','%i%','1','%plusOne%');", src='img/material/1.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price1%
                .col-md-2
                    center
                        h4(style='height: 70px;') Стекло матовое
                        img(onclick="SelectMaterialEnd('%number%','%i%','2','%plusOne%');", src='img/material/2.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price2%
                .col-md-2
                    center
                        h4(style='height: 70px;') Триплекс
                        img(onclick="SelectMaterialEnd('%number%','%i%','5','%plusOne%');", src='img/material/5.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price5%
                .col-md-2
                    center
                        h4(style='height: 70px;') Триплекс матовый
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/6.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%
                .col-md-2
                    center
                        h4(style='height: 70px;') Оргстекло экструз.
                        img(onclick="SelectMaterialEnd('%number%','%i%','10','%plusOne%');", src='img/material/10.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price10%
                .col-md-2
                    center
                        h4(style='height: 70px;') Стекло противопожарное
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/26.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%

            #zerkalo.tab-pane
                .col-md-2
                    center
                        h4(style='height: 70px;') Серебро
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/3.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%
                .col-md-2
                    center
                        h4(style='height: 70px;') Бронза
                        img(onclick="SelectMaterialEnd('%number%','%i%','10','%plusOne%');", src='img/material/4.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price10%
            #polikarbonat.tab-pane
                .col-md-2
                    center
                        h4(style='height: 70px;') Монолитный
                        img(onclick="SelectMaterialEnd('%number%','%i%','10','%plusOne%');", src='img/material/9.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price10%
                .col-md-2
                    center
                        h4(style='height: 70px;') Сотовый
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/7.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%
                .col-md-2
                    center
                        h4(style='height: 70px;') Вспененный
                        img(onclick="SelectMaterialEnd('%number%','%i%','10','%plusOne%');", src='img/material/8.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price10%
            #paneli.tab-pane
                .col-md-2
                    center
                        h4(style='height: 70px;') Сендвич-панели
                        img(onclick="SelectMaterialEnd('%number%','%i%','5','%plusOne%');", src='img/material/15.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price5%
                .col-md-2
                    center
                        h4(style='height: 70px;') Гипсовинил
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/22.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%
                .col-md-2
                    center
                        h4(style='height: 70px;') Гипсодекор
                        img(onclick="SelectMaterialEnd('%number%','%i%','10','%plusOne%');", src='img/material/23.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price10%
                .col-md-2
                    center
                        h4(style='height: 70px;') Гипсодекор
                        img(onclick="SelectMaterialEnd('%number%','%i%','6','%plusOne%');", src='img/material/24.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %Price6%