#napolnenie-tab.tab-pane.fade
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .form-group.label-floating.is-empty.top
            h2
                small Полотно
        .form-group.label-floating.is-empty.top
            select.BAFFLE_SEKECTOR_CLASS.form-control
    .add-material-block-past
    //ADD
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.add-material-block
        a.btn.btn-raised.btn-primary.add-material-btn(href='javascript:void(0)')
            | Добавить материал
            .ripple-container