.container
    .row.price-block-2
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .bs-component
                .alert.alert-dismissible.alert-default
                    .left.summaBezParametrov-2
                        h4  Сумма без параметров:
                        h4.red
                            span.price 0
                            | руб
                    .right.summaSParametrami-2
                        h4  Сумма с параметрами:
                        h4.red
                            span.price 0
                            | руб
        .col-xs-offset-3.col-sm-offset-3.col-md-offset-3.col-md-offset-lg3.col-xs-6.col-sm-6.col-md-6.col-lg-6
            .bs-component
                table.table.table-striped.table-hover
                    thead
                        tr
                            th
                            th
                                h4 В процентах
                            th
                                h4 В рублях
                    tbody
                        tr
                            td
                                h4 Произваодство
                            td
                                .form-group.label-floating.is-empty.proizvaodstvoIn-2
                                    input#l-11-2.form-control(type='text', value='10')
                            td
                                .form-group.label-floating.is-empty.proizvaodstvoTo-2
                                    input#focusedInput2-2.form-control(type='text', disabled='')
                        tr
                            td
                                h4 Монтаж
                            td
                                .form-group.label-floating.is-empty.montazhIn-2
                                    input#l-21-2.form-control(type='text', value='30')
                            td
                                .form-group.label-floating.is-empty.montazhTo-2
                                    input#l-22-2.form-control(type='text', disabled='')
                        tr
                            td
                                h4 Доставка
                            td
                                .form-group.label-floating.is-empty.dostavkaIn-2
                                    input#l-31-2.form-control(type='text', disabled='')
                            td
                                .form-group.label-floating.is-empty.dostavkaTo-2
                                    input#l-32-2.form-control(type='text', value='3000')
                        tr
                            td
                                h4 Срочность
                            td
                                .form-group.label-floating.is-empty.srochnostIn-2
                                    input#l-41-2.form-control(type='text', value='10')
                            td
                                .form-group.label-floating.is-empty.srochnostTo-2
                                    input#l-42-2.form-control(type='text', disabled='')
                        tr
                            td
                                h4 Наш процент
                            td
                                .form-group.label-floating.is-empty.nashProtsentIn-2
                                    input#l-51-2.form-control(type='text', value='50')
                            td
                                .form-group.label-floating.is-empty.nashProtsentTo-2
                                    input#l-52-2.form-control(type='text', disabled='')


    .row
        .TableForInfo.col-xs-12.col-sm-12.col-md-12.col-lg-12

