.container
    .row.price-block
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                h5 Количество комплектов
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                input(id='NUMBER_SETS_ID',maxlength=2).form-control(type='text')
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.percents(data-toggle="collapse" data-target="#setting-v-niz" style="border-bottom: solid 2px #ddd !important")

            .bs-component(style="margin-top: 0px;")
                .alert.alert-dismissible.alert-default(style="height: 100%;")
                    .left.summaBezParametrov
                        h4  Сумма без параметров:
                        h4.red
                            span.price 0
                            | руб


                    .right.summaSParametrami
                        h4  Сумма с параметрами:
                        h4.red
                            span.price 0
                            | руб
        .col-xs-offset-3.col-sm-offset-3.col-md-offset-3.col-md-offset-lg3.col-xs-6.col-sm-6.col-md-6.col-lg-6.collapse#setting-v-niz
            .bs-component
                table.table.table-striped.table-hover
                    thead
                        tr
                            th
                            th
                                h4 В процентах
                            th
                                h4 В рублях
                    tbody
                        tr
                            td
                                h4 Произваодство
                            td
                                .form-group.label-floating.is-empty.proizvaodstvoIn
                                    input#l-11.form-control(type='text', value='10')
                            td
                                .form-group.label-floating.is-empty.proizvaodstvoTo
                                    input#focusedInput2.form-control(type='text', disabled='')
                        tr
                            td
                                h4 Монтаж
                            td
                                .form-group.label-floating.is-empty.montazhIn
                                    input#l-21.form-control(type='text', value='30')
                            td
                                .form-group.label-floating.is-empty.montazhTo
                                    input#l-22.form-control(type='text', disabled='')
                        tr
                            td
                                h4 Доставка
                            td
                                .form-group.label-floating.is-empty.dostavkaIn
                                    input#l-31.form-control(type='text', disabled='')
                            td
                                .form-group.label-floating.is-empty.dostavkaTo
                                    input#l-32.form-control(type='text', value='3000')
                        tr
                            td
                                h4 Срочность
                            td
                                .form-group.label-floating.is-empty.srochnostIn
                                    input#l-41.form-control(type='text', value='10')
                            td
                                .form-group.label-floating.is-empty.srochnostTo
                                    input#l-42.form-control(type='text', disabled='')
                        tr
                            td
                                h4 Наш процент
                            td
                                .form-group.label-floating.is-empty.nashProtsentIn
                                    input#l-51.form-control(type='text', value='50')
                            td
                                .form-group.label-floating.is-empty.nashProtsentTo
                                    input#l-52.form-control(type='text', disabled='')


    .row
        .TableForInfo.col-xs-12.col-sm-12.col-md-12.col-lg-12

