#profil-tab-3.tab-pane.fade.in.active.row
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
        label.control-label Полотно
            select.form-control.BAFFLE_SEKECTOR_CLASS-3
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
        +input-custom-block-mini("Группа", "NUMBER_OF_DUPLICATOR_ID-3")
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
        +input-custom-block-mini("Высота", "tab-profil-vyisota-3")
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
        +input-custom-block-mini("Ширина", "tab-profil-shirina-3")
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        hr
    .col-xs-4.col-sm-4.col-md-4.col-lg-4.polotno-el#KARKAS-BLOCK-3
        .well
            .top
                .form-group.label-floating.is-empty.text-center
                    button.btn.btn-raised.btn-default#BTN-KARKAS-SELECTOR-3(type="button") Каркас
            .left
                img(src="img/maket2.jpg")
            .right
                h3#KARKAS-NAME-3 Euroshop
                h5#KARKAS-INFO-3 Высота до 2,8м; Паз: 8,5 мм; стекло - 4.5 мм; Глухие панели - до 12,4 мм;
                h4#KARKAS-PRICE-3 0
                span руб.
    .col-xs-4.col-sm-4.col-md-4.col-lg-4.polotno-el#HORIZONTAL-PEREMOCHKI-BLOCK-3
        .well
            .top
                .form-group.label-floating.is-empty.text-center
                    button.btn.btn-raised.btn-default#BTN-HORIZONTAL-PEREMOCHKI-SELECTOR-3(type="button") Горизонтальные перемычки
                +input-custom-block-super-mini("шт.", "tab-profil-peremyichki-horizontal-shtuk-3")
            .left
                img(src="img/maket2.jpg")
            .right
                h3#HORIZONTAL-PEREMOCHKI-NAME-3 Euroshop
                h5#HORIZONTAL-PEREMOCHKI-INFO-3 Высота до 2,8м; Паз: 8,5 мм; стекло - 4.5 мм; Глухие панели - до 12,4 мм;
                h4#HORIZONTAL-PEREMOCHKI-PRICE-3 0
                span руб.
    .col-xs-4.col-sm-4.col-md-4.col-lg-4.polotno-el#VERTIKALNUE-PEREMOCHKI-BLOCK-3
        .well
            .top
                .form-group.label-floating.is-empty.text-center
                    button.btn.btn-raised.btn-default#BTN-VERTIKALNUE-PEREMOCHKI-SELECTOR-3(type="button") Вертикальные перемычки
                +input-custom-block-super-mini("шт.", "tab-profil-v-peremyichki-shtuk-3")
            .left
                img(src="img/maket2.jpg")
            .right
                h3#VERTIKALNUE-PEREMOCHKI-NAME-3 Euroshop
                h5#VERTIKALNUE-PEREMOCHKI-INFO-3 Высота до 2,8м; Паз: 8,5 мм; стекло - 4.5 мм; Глухие панели - до 12,4 мм;
                h4#VERTIKALNUE-PEREMOCHKI-PRICE-3 0
                span руб.
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h3 Дополнения
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
        .form-group.label-floating.is-empty
            label.control-label.minheight Цвет уплотнителя
            br
            select.form-control#karkas-tsvet-uplotnitelya-3
                option(value='none')
                option(value='1')
                option(value='2')
                option(value='3')
    .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center
        .form-group.label-floating.is-empty
            label.control-label.minheight Цвет заглушки в паз
            br
            select.form-control#karkas-tsvet-zaglushki-3
                option(value='none')
                option(value='1')
                option(value='2')
                option(value='3')
    .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center
        .form-group.label-floating.is-empty
            label.control-label.minheight Цвет заглушки торцевой
            br
            select.form-control#karkas-tsvet-zaglushki-tortsevoy-3
                option(value='none')
                option(value='1')
                option(value='2')
                option(value='3')
    .col-xs-3.col-sm-3.col-md-3.col-lg-3.text-center
        .form-group.label-floating.is-empty
            label.control-label.minheight Вид крепления
            br
            select.form-control#karkas-vid-krepleniya-3
                option(value='none')
                option(value='1')
                option(value='2')
                option(value='3')
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h3 Выбор декора для профиля
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.vyiborDekoraDlyaProfilya-3
        center
         button.btn.btn-raised.btn-default(type="button")#btn-dekor-profil-3 Декор профиля
         br
         input#pokraskaTypeAndName-3(type="hidden",value="color.RAL9003")
         img(src='img/dekorRal/RAL9003.png')
    .col-xs-12.col-sm-12.col-md-4.col-lg-12.polotno-el.text-right
        h4 Площадь
            span.TAB-PROFIL-AREA-3 0
            | кв/м
        h4 Цена покраски
            span.TAB-POKRASKA-PRICE-3 0
            | руб.
        h3 Цена
            span.TAB-PROFIL-PRICE-3 0
            | руб.
