.container
    .row.wrapper.new-line
        .col-xs-3.col-sm-3.col-md-3.col-lg-3
            .form-group.label-floating.is-empty
                select.form-control#TYPE_BAFFLE_ID-3
                    option(value='0') Стационарная
                    option(value='1') Раздвижная перегородка
                    option(value='2') Складная перегородка
                    //option(value='3') Складная перегородка с половинчатой створкой
                    option(value='4') Мобильная перегородка
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .form-group.label-floating.is-empty.text-center
                button.btn.btn-raised.btn-default#DIAGRAMMA-DIALOG-WINDOW-BTN-3(type="button")
                    | Схема
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .form-group
                h3
                    small Всего полотен
                .bs-component
                    .progress.progress-striped.active
                        .progress-bar(style='width: 45%')
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +input-custom-block-mini("шт.", "TOTAL_PAINTING_ID-3", 1)
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .form-group
                h3
                    small Подвижные полотна
                .bs-component
                    .progress.progress-striped.active
                        .progress-bar(style='width: 45%')
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +input-custom-block-mini("шт.", "MOVABLE_PAINTING_ID-3", 1)
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +input-custom-block-mini("Кол.", "NUMBER_SETS_ID-3", 1)


        //line 2
    .row.wrapper.next-line
        .col-xs-3.col-sm-3.col-md-3.col-lg-3
            .checkbox.POLOVINCHATAYA-3
                label
                    input(type='checkbox')#POLOVINCHATAYA_CHECKBOX-3
                    span.checkbox-material
                        span.check
                    | Половинчатая створка
                +input-custom-block-mini("Кол.", "POLOVINCHATAYA_KOL-3", 1)
            +input-custom-block-mini("Высота", "HIGHT_SETS_ID-3", 4)
            +input-custom-block-mini("Ширина", "WIDTH_SETS_ID-3", 4)
        .col-xs-9.col-sm-9.col-md-9.col-lg-9
            .form-group.drawing
                img(src='img/maket.jpg')#ShemaKonstr-3
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.area-block
            .form-group
                h4
                    small Подвижные полотна
                    input(name="area", id="AREA_ID-3", class="input-new form-control", type="text", maxlength="1")
                    small кв/м
        .col-xs-12.col-sm-12.col-md-12.col-lg-12#PAINTING-DIAGRAMMA-BLOCK-3
            .ruler-v
                label 400
                label 300
                label 200
                label 100
                label 0
            .ruler
                label 0
                label 100
                label 200
                label 300
                label 400
                label 500
                label 600
                label 700
                label 800
                label 900
                label 1000
                label 1100
            #PAINTING-DIAGRAMMA-3
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
            button.btn.btn-default.btn-fab#PAINTING-DIAGRAMMA-BLOCK-HS-3(type="button")
                i.fa.fa-arrows-v(aria-hidden="true")


