.container
    .row.wrapper.new-line(style="background-color: #e5e5e5;")
        .col-xs-2.col-sm-2.col-md-2.col-lg-2(style="width: 15%;padding-right: 5px;border-right: solid 1px #ccc;")
            .form-group.label-floating.is-empty(style="margin-top: 0px;")
                select.form-control#TYPE_BAFFLE_ID(style="font-size: 14pt;")
                    option(value='0') Стационарная
                    option(value='1') Раздвижная перегородка
                    option(value='2') Складная перегородка
                    //option(value='3') Складная перегородка с половинчатой створкой
                    option(value='4') Мобильная перегородка
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 6%;")
            h5.left-text Высота
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 5%;")
            input(id="HIGHT_SETS_ID").form-control(type='text',maxlength="4")
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 6%;")
            h5.left-text Ширина
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 5%;padding-right: 5px;border-right: solid 1px #ccc;")
            input(id="WIDTH_SETS_ID").form-control(type='text',maxlength="4")
        .col-xs-2.col-sm-2.col-md-2.col-lg-2(style="width: 10%;")
            h5.left-text Всего полотен
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 5%;")
            input(id="TOTAL_PAINTING_ID").form-control(type='text',maxlength="1")
        .col-xs-2.col-sm-2.col-md-2.col-lg-2(style="width: 13%;")
            h5.left-text Подвижные полотна
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 5%;")
            input(id="MOVABLE_PAINTING_ID").form-control(type='text',maxlength="1")
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 5%;padding-right: 5px;border-right: solid 1px #ccc;")
            input(name="area", id="AREA_ID", class="input-new form-control", type="text", maxlength="1", disabled="disabled")
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 5%;")
            h5.left-text кв/м
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 8%;padding-right: 5px;border-right: solid 1px #ccc;")
            h5.left-text Комплектов
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 6%;")
            input(id="NUMBER_SETS_ID").form-control(type='text',maxlength="2")
        .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="width: 6%;")
            h5.left-text шт.


        //line 2
    .row.wrapper.next-line
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .checkbox.POLOVINCHATAYA
                label
                    input(type='checkbox')#POLOVINCHATAYA_CHECKBOX
                    span.checkbox-material
                        span.check
                    | Половинчатая створка
                +input-custom-block-mini("Кол.", "POLOVINCHATAYA_KOL", 1)
        .col-xs-12.col-sm-12.col-md-12.col-lg-12#DIAGRAMMA-DIALOG-WINDOW-BTN
            .form-group.drawing
                img(src='img/maket.jpg')#ShemaKonstr
            br
        .col-xs-12.col-sm-12.col-md-12.col-lg-12#PAINTING-DIAGRAMMA-BLOCK
            .ruler-v
                label 400
                label 300
                label 200
                label 100
                label 0
            .ruler
                label 0
                label 100
                label 200
                label 300
                label 400
                label 500
                label 600
                label 700
                label 800
                label 900
                label 1000
                label 1100
                label 1100
                label 1100
            #PAINTING-DIAGRAMMA
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
            button.btn.btn-default.btn-fab#PAINTING-DIAGRAMMA-BLOCK-HS(type="button")
                i.fa.fa-arrows-v(aria-hidden="true")


