.container
    .row.wrapper.new-line
        .col-xs-3.col-sm-3.col-md-3.col-lg-3
            .form-group.label-floating.is-empty
                select.form-control#TYPE_BAFFLE_ID
                    option(value='0') Стационарная
                    option(value='1') Раздвижная перегородка
                    option(value='2') Складная перегородка
                    option(value='3') Складная перегородка с половинчатой створкой
                    option(value='4') Мобильная перегородка
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .form-group.label-floating.is-empty.text-center
                button.btn.btn-raised.btn-default#DIAGRAMMA-DIALOG-WINDOW-BTN(type="button")
                    | Схема
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .form-group
                h3
                    small Всего полотен
                .bs-component
                    .progress.progress-striped.active
                        .progress-bar(style='width: 45%')
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +input-custom-block-mini("шт.", "TOTAL_PAINTING_ID", 1)
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
            .form-group
                h3
                    small Подвижные полотна
                .bs-component
                    .progress.progress-striped.active
                        .progress-bar(style='width: 45%')
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +input-custom-block-mini("шт.", "MOVABLE_PAINTING_ID", 1)
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +input-custom-block-mini("Кол.", "NUMBER_SETS_ID", 1)


        //line 2
    .row.wrapper.next-line


        .col-xs-3.col-sm-3.col-md-3.col-lg-3
            .checkbox.POLOVINCHATAYA
                label
                    input(type='checkbox')
                    span.checkbox-material
                        span.check
                    | половинчатая

            +input-custom-block-mini("Высота", "HIGHT_SETS_ID", 4)
            +input-custom-block-mini("Ширина", "WIDTH_SETS_ID", 4)
        .col-xs-9.col-sm-9.col-md-9.col-lg-9
            .form-group.drawing
                img(src='img/maket.jpg')#ShemaKonstr
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.area-block
            .form-group
                h4
                    small Подвижные полотна
                    input(name="area", id="AREA_ID", class="input-new form-control", type="text", maxlength="1")
                    small кв/м

        //
        //.col-xs-12.col-sm-12.col-md-12.col-lg-12#PAINTING-DIAGRAMMA-BLOCK
        //    #PAINTING-DIAGRAMMA
        //        .drag.PAINTING-DIAGRAMMA-EL.ui-resizable(style='left:20px;top:20px;')
        //            .ui-resizable-handle.ui-resizable-e(style='z-index: 90; display: block;')
        //            .ui-resizable-handle.ui-resizable-s(style='z-index: 90; display: block;')
        //            .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se(style='z-index: 90; display: block;')
        .col-xs-12.col-sm-12.col-md-12.col-lg-12#PAINTING-DIAGRAMMA-BLOCK
            #PAINTING-DIAGRAMMA


