*
  outline: none !important
  //overflow: hidden !important
//кастом
.form-group.label-static label.control-label, .form-group.label-placeholder label.control-label, .form-group.label-floating label.control-label
  position: inherit
.checkbox label, .radio label, label
  width: 100%
.form-control:focus
  box-shadow: none !important
//.label.control-label
//  margin: 0

//label.control-label
//  line-height: 0 !important
#dekor-v-niz
  padding-bottom: 10px
.addons h3
  margin-top: 0px
  padding-top: 20px
.addons:hover
  background-color: #e0efef
  cursor: pointer
.select-dekor div:hover
  background-color: #e0efef
  cursor: pointer
.percents:hover
  background-color: #e0efef
  cursor: pointer
.loading
  background-color: rgba(0, 0, 0, 0.8)
.loading,.loading::before,.loading::after
  position: absolute
  top: 50%
  left: 50%
  border: 1px solid rgba(255, 255, 255, 0.1)
  border-left-color: rgba(255, 255, 255, 0.4)
  -webkit-border-radius: 999px
  -moz-border-radius: 999px
  border-radius: 999px
.loading
  margin: -25px 0 0 -25px
  height: 50px
  width: 50px
  -webkit-animation: animation-rotate 1000ms linear infinite
  -moz-animation: animation-rotate 1000ms linear infinite
  -o-animation: animation-rotate 1000ms linear infinite
  animation: animation-rotate 1000ms linear infinite
.loading::before
  content: ""
  margin: -23px 0 0 -23px
  height: 44px
  width: 44px
  -webkit-animation: animation-rotate 1000ms linear infinite
  -moz-animation: animation-rotate 1000ms linear infinite
  -o-animation: animation-rotate 1000ms linear infinite
  animation: animation-rotate 1000ms linear infinite
.loading::after
  content: ""
  margin: -29px 0 0 -29px
  height: 56px
  width: 56px
  -webkit-animation: animation-rotate 2000ms linear infinite
  -moz-animation: animation-rotate 2000ms linear infinite
  -o-animation: animation-rotate 2000ms linear infinite
  animation: animation-rotate 2000ms linear infinite
@-webkit-keyframes animation-rotate
  100%
    -webkit-transform: rotate(360deg)

@-moz-keyframes animation-rotate
  100%
    -moz-transform: rotate(360deg)
@-o-keyframes animation-rotate
  100%
    -o-transform: rotate(360deg)
@keyframes animation-rotate
  100%
    transform: rotate(360deg)

.height-130
  height: 130px
.width-130
  width: 130px
.js-div-for-3d
  height: 202px !important
  display: none
.selectKarkasImg
  height: 202px !important
.profil-select img
  width: 200px
.napolnenie-el-img img
  width: 200px !important
.col-xs-3.col-sm-3.col-md-3.col-lg-3:hover
  background-color: #e0efef
  cursor: pointer
#DIAGRAMMA-DIALOG-WINDOW-BTN.col-xs-12.col-sm-12.col-md-12.col-lg-12:hover
  background-color: #e0efef
  cursor: pointer
.col-xs-1.col-sm-1.col-md-1.col-lg-1 input
  background: white
  height: 30px
  margin-top: 10px
  text-align: center
  width: 40px
.imgTestRight img
  height: 150px
.podvesyi-modal-left
  border-bottom: solid 1px #ccc
  border-right: solid 1px #ccc
  background-color: #f6f6f6
.col-xs-15.col-sm-15.col-md-15.col-lg-15:hover
  background-color: #e0efef
  cursor: pointer
.col-xs-6.col-sm-6.col-md-6.col-lg-6:hover
  background-color: #e0efef
  cursor: pointer
.col-xs-15.col-sm-15.col-md-15.col-lg-15 h3
  height: 60px
.margin-left-10
  margin-left: 10px
.margin-right-10
  margin-right: 10px
.min-height-100
  min-height: 130px !important
.red
  color: red
.left-text
  line-height: 1.07142857
  font-weight: 400
  padding-top: 6px
  text-align: left
.width-50
  width: 50%
.top-menu
  float: inherit
  display: inline-block
.top-menu span
  color: red
.top-menu h5
  color: #bdbdbd
.profil-text-left
  display: inline-block
  float: left
  font-weight: 300
  margin-bottom: 0px

.profil-text-right
  display: inline-block
  float: right
  font-weight: 300
  margin-bottom: 0px

.container
  max-width: 1350px !important
  width: 100% !important

.height-30
  height: 20px

.polotno-el .well .top .form-group:last-child
  width: 100% !important
.vyiborDekoraDlyaProfilya img
  border: solid 1px black
.btn
  padding: 8px 10px
.new-design
  border: solid 3px black
  border-radius: 0px
.area-block
  .form-group
    width: 50px
    small, input
      margin-right: 10px
      display: inline-flex
.col-md-3.profil-select:hover
  background-color: #e0efef
  cursor: pointer
.display-none
  display: none
.input-group .input-group-btn
  padding: 0
.alert-default
  background-color: white !important
.input-custom-block-mini
  display: flex
  input
    min-width: calc(100% - 20px)
    //min-width: 30px
.input-group
  button
    margin-top: 15px !important
    height: 10px !important
    min-width: 10px !important
    width: 10px !important
    i
      font-size: 10px
.color-select
  .input-group
    display: inline-table
.input-group
  display: block
  .input-group-btn
    transform: rotate(90deg)
    padding-left: 10px

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
  position: relative
  min-height: 1px
  padding-right: 10px
  padding-left: 10px
.col-xs-15
  width: 20%
  float: left
@media (min-width: 768px)
  .col-sm-15
    width: 20%
    float: left
@media (min-width: 992px)
  .col-md-15
    width: 20%
    float: left
@media (min-width: 1200px)
  .col-lg-15
    width: 20%
    float: left

//кастом//

body
  overflow-x: hidden !important
  background: white
  .wrapper-white
    //width: calc(100% - 30px)
    min-height: 50px
    margin: 15px !important
    background: white
  .wrapper-tabs
    width: calc(100% - 30px)
    min-height: 50px
    margin: 15px !important
    background: white
    padding-bottom: 30px
  .wrapper
    width: calc(100% - 30px)
    min-height: 50px
    margin: 15px !important
    background: white
  .form-group
    white-space: nowrap
  .drawing
    max-width: 100%
    min-width: 80%
    min-height: 120px
    background: white
    text-align: center
    img
      margin-top: 0px
      height: 120px
      max-width: 100%
  .new-line
    padding-bottom: 0 !important
    margin-bottom: 0 !important
  .next-line
    padding-top: 0 !important
    margin-top: 0 !important
    padding-bottom: 30px

.maket-block
  width: 100%
  text-align: center

.nav-tabs
  i
    margin-left: 25px
.polotno-el
  //max-width: 25%
  img
    width: 100%
    max-width: 200px
    margin: auto
    display: block
  .well
    min-height: 210px
    border: 0px !important
    border-radius: 0px !important
    -webkit-box-shadow: none !important
    box-shadow: none !important
    padding: 0px !important
    .top
      display: flex
      .form-group:first-child
        min-width: 70%
      .form-group:last-child
        width: 25%
        margin-left: 5%
  .left
    width: 30%
    display: inline-block
  .right
    width: 70%
    display: inline-block
  .right #KARKAS-PRICE,#HORIZONTAL-PEREMOCHKI-PRICE,#VERTIKALNUE-PEREMOCHKI-PRICE
    color: red
  .right span
    color: red
  .left
    img
      width: 100%
      max-width: 120px
      padding-right: 5px
      padding-top: 50%
  .right
    float: right
    h3, h5
      margin-bottom: 20px
  .form-group
    margin: 0
//.POLOVINCHATAYA
  //display: none
  //.check
  //  margin-right: 10px

#napolnenie-tab
  .top
    display: inline-flex
  .form-group
    margin: 0
  small
    margin-right: 5px
  .napolnenie-el
    width: 100%
    min-height: 50px
    margin-bottom: 15px
    >div
      padding: 0 10px
      width: calc(100%/3)
      display: initial
      float: left
    img
      width: 100%
  .napolnenie-el:last-child
    margin-bottom: 0px
.price-block
  margin-right: 0
  margin-left: 0
  .red
    color: red
    h4
      font-weight: bold
  .bs-component
    margin-top: 30px
    .alert-default
      height: 70px
    h4
      color: black
      margin-top: 10px
    .left
      float: left
      display: flex
    .right
      float: right
      display: flex
    .red
      color: red
      font-weight: bold
      margin-left: 10px
  .table
    .form-group
      margin: 0
      padding: 0

.dopolnitelno
  h3
    height: 50px
  .form-group
    margin: 0 !important
    padding: 0 !important


//PAINTING-DIAGRAMMA
#PAINTING-DIAGRAMMA-BLOCK
  text-align: center
  //overflow-y: auto
  //overflow-x: auto
  //overflow: hidden
  height: 451px
  width: 1281px
  //height: 0px
  .PAINTING-DIAGRAMMA-EL
    display: flex
    width: 50px
    height: 70px
    background: white
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.46)
    font-size: 10px
    text-align: left
    background-color: #777
    //position: relative
    position: absolute
    margin: -1px
  .used
    //box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset
    box-shadow: 0 0px 30px rgba(0, 0, 0, 1), -23px 0 20px -5px rgba(0, 0, 0, .3), 23px 0 30px -5px rgba(0, 0, 0, .3), 50px 150px 40px rgba(0, 0, 0, .5) inset
#PAINTING-DIAGRAMMA
  //height: 400px
  height: 100%
  border-right: 1px solid #d2d2d2
  border-bottom: 1px solid #d2d2d2
  background-size: 50px 50px !important
  background-image: linear-gradient(to right, #d2d2d2 1px, transparent 1px), linear-gradient(to bottom, #d2d2d2 1px, transparent 1px)

//PAINTING-DIAGRAMMA  //
#profil-tab
  padding: 0 2%
  .minheight
    min-height: 30px
.TAB-PROFIL-AREA, .TAB-PROFIL-PRICE, .TAB-POKRASKA-PRICE
  margin-left: 10px
  margin-right: 10px

.vyiborDekoraDlyaProfilya
  img
    margin-left: 10px
.border-bottom
  border-bottom: solid 2px #ddd
.border-right
  border-right: solid 2px #ddd
.border-left
  border-left: solid 2px #ddd

#EDIT-BLOCK.polotno-el
  border-bottom: solid 2px #ddd
  border-right: solid 2px #ddd

#KARKAS-BLOCK.polotno-el
  border-bottom: solid 2px #ddd
  border-right: solid 2px #ddd

#HORIZONTAL-PEREMOCHKI-BLOCK.polotno-el
  border-bottom: solid 2px #ddd

#VERTIKALNUE-PEREMOCHKI-BLOCK.polotno-el
  border-bottom: solid 2px #ddd
  border-left: solid 2px #ddd

#KARKAS-BLOCK, #HORIZONTAL-PEREMOCHKI-BLOCK, #VERTIKALNUE-PEREMOCHKI-BLOCK
  span, #KARKAS-PRICE, #HORIZONTAL-PEREMOCHKI-PRICE, #VERTIKALNUE-PEREMOCHKI-PRICE
    display: inline-block
  span
    margin-left: 5px

.loadImgBlock
  input
    margin: auto


.form-group
  position: relative
  //background: red
  label.input-custom-block-super-mini
    position: absolute
    top: -15px
    right: -45px
  input.input-custom-block-super-mini
    width: 30px
    margin-top: 10px
    float: right
  label.input-custom-block-super-mini, input.input-custom-block-super-mini
    margin-left: 20px

.paintingInDiadrammaPereochki
  background: yellow
  //min-width: 5px
  //min-height: 5px
  border: 1px solid #777
  //outline: 1px solid #777
  >.paintingInDiadrammaPereochki
    display: block

.contakts-block
  .form-group.form-group-lg
    margin: 5px 0 5px 0



.line-S, .line-M
  width: 100%
  height: 10px
  position: absolute
  top: -20px
  z-index: 999

.line-S
  background-color: #777777
.line-M
  background-color: #fec080
//DandD
.drag
  cursor: pointer
  position: relative
.hideBlock
  display: none
#myTab
  text-align: center
  background: none
#myTab li
  display: inline-block
  float: none !important
.nav-tabs>li>a
  color: #ddd !important
.nav-tabs>li>a:hover
  color: #ddd !important
#myTab>li.active>a
  color: #760e0f !important
  border-top: solid 2px #ddd !important
  border-top-right-radius: 10px !important
  border-top-left-radius: 10px !important
  border-right: solid 2px #ddd !important
  border-left: solid 2px #ddd !important
.nav-tabs
  border-bottom: 2px solid #ddd
.border-bottom-2
  border-bottom: 2px solid #ddd !important

@import "parts/tab.sass"
@import "parts/mehanizmyiModal.sass"
@import "parts/podvesyiModal.sass"
@import "parts/uplotnitelModal.sass"

@import "parts/ruler.sass"
@import "parts/stateSlider.sass"

#PAINTING-DIAGRAMMA-BLOCK-HS
  margin-top: 30px

@import "parts/vi-grid.sass"
.top-block
  select
    border: 0
    position: relative
  .triangle
    width: 0
    border: 7px solid transparent
    border-top: 5px solid #737373
    margin: auto
    position: absolute
    margin-left: 50%
    top: 20px
  .select-type-block
    position: relative
  input
    border: 0 !important
    padding: 0px !important

#DIAGRAMMA-DIALOG-WINDOW
  position: relative
