.napolnenie-left-tab.display-none
    .tabbable.tabs-left
        ul(style='height: 700px;').nav.nav-tabs
            li
                a(href='#derevo', data-toggle='tab', style='font-size: 20px;') Дерево
                .triangle
                .triangle-w
            li.active
                a(href='#steklo', data-toggle='tab', style='font-size: 20px;') Стекло
                .triangle
                .triangle-w
            li
                a(href='#zerkalo', data-toggle='tab', style='font-size: 20px;') Зеркало
                .triangle
                .triangle-w
            li
                a(href='#polikarbonat', data-toggle='tab', style='font-size: 20px;') Поликарбонат
                .triangle
                .triangle-w
            li
                a(href='#paneli', data-toggle='tab', style='font-size: 20px;') Панели
                .triangle
                .triangle-w
        .tab-content
            #derevo.tab-pane
                .col-md-3
                    center
                        h4 ЛДСП
                        img(onclick="SelectMaterialEnd('LDSP','%number%');", src='img/material/11.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %LDSP%
                .col-md-3
                    center
                        h4 Фанера
                        img(onclick="SelectMaterialEnd('fanera','%number%');", src='img/material/14.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %fanera%
                .col-md-3
                    center
                        h4 Фанера трудногорючая
                        img(onclick="SelectMaterialEnd('faneraTrudnogoryuchaya','%number%');", src='img/material/14.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %faneraTrudnogoryuchaya%
                .col-md-3
                    center
                        h4 МДФ шлифованный
                        img(onclick="SelectMaterialEnd('MDFshlifovannyiy','%number%');", src='img/material/12.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %MDFshlifovannyiy%
                .col-md-3
                    center
                        h4 ДСП шлифованный
                        img(onclick="SelectMaterialEnd('DSPshlifovannyiy','%number%');", src='img/material/13.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %DSPshlifovannyiy%
            #steklo.tab-pane.active
                .col-md-3
                    center
                        h4 Обычное флоат
                        img(onclick="SelectMaterialEnd('stekloObyichnoe','%number%');", src='img/material/1.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloObyichnoe%
                .col-md-3
                    center
                        h4 Стекло матовое
                        img(onclick="SelectMaterialEnd('stekloMatovoe','%number%');", src='img/material/2.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloMatovoe%
                .col-md-3
                    center
                        h4 Стекло бронза, серое
                        img(onclick="SelectMaterialEnd('stekloBronzaSeroe','%number%');", src='img/material/2.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloBronzaSeroe%
                .col-md-3
                    center
                        h4 Стекло тонированное серое
                        img(onclick="SelectMaterialEnd('stekloTonirovannoeSeroe','%number%');", src='img/material/16.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloTonirovannoeSeroe%
                .col-md-3
                    center
                        h4 Стекло тонированное бронза
                        img(onclick="SelectMaterialEnd('stekloTonirovannoeBronza','%number%');", src='img/material/17.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloTonirovannoeBronza%
                .col-md-3
                    center
                        h4 Стекло тонированное голубое
                        img(onclick="SelectMaterialEnd('stekloTonirovannoeGoluboe','%number%');", src='img/material/18.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloTonirovannoeGoluboe%
                .col-md-3
                    center
                        h4 Триплекс
                        img(onclick="SelectMaterialEnd('tripleks','%number%');", src='img/material/5.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %tripleks%
                .col-md-3
                    center
                        h4 Триплекс матовый
                        img(onclick="SelectMaterialEnd('tripleksMatovyiy','%number%');", src='img/material/6.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %tripleksMatovyiy%
                .col-md-3
                    center
                        h4 Оргстекло экструз.
                        img(onclick="SelectMaterialEnd('orgstekloEkstruz','%number%');", src='img/material/10.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %orgstekloEkstruz%
                .col-md-3
                    center
                        h4 Оргстекло экструз. матовое/молочное
                        img(onclick="SelectMaterialEnd('orgstekloEkstruz','%number%');", src='img/material/20.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %orgstekloEkstruz%
                .col-md-3
                    center
                        h4 Стекло противопожарное
                        img(onclick="SelectMaterialEnd('stekloProtivopozharnoe','%number%');", src='img/material/26.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %stekloProtivopozharnoe%
            #zerkalo.tab-pane
                .col-md-3
                    center
                        h4 Серебро
                        img(onclick="SelectMaterialEnd('zerkaloSerebro','%number%');", src='img/material/3.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %zerkaloSerebro%
                .col-md-3
                    center
                        h4 Бронза
                        img(onclick="SelectMaterialEnd('zerkaloBronza','%number%');", src='img/material/4.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %zerkaloBronza%
            #polikarbonat.tab-pane
                .col-md-3
                    center
                        h4 Монолитный
                        img(onclick="SelectMaterialEnd('polikarbonatMonolit','%number%');", src='img/material/9.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %polikarbonatMonolit%
                .col-md-3
                    center
                        h4 Сотовый
                        img(onclick="SelectMaterialEnd('polikarbonatSotovyiy','%number%');", src='img/material/7.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %polikarbonatSotovyiy%
                .col-md-3
                    center
                        h4 Вспененный
                        img(onclick="SelectMaterialEnd('PVHvspenennyiy','%number%');", src='img/material/8.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %PVHvspenennyiy%
            #paneli.tab-pane
                .col-md-3
                    center
                        h4 Сендвич-панели
                        img(onclick="SelectMaterialEnd('sendvichPaneliPVH','%number%');", src='img/material/15.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %sendvichPaneliPVH%
                .col-md-3
                    center
                        h4 Гипсовинил
                        img(onclick="SelectMaterialEnd('gipsovinil12','%number%');", src='img/material/22.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %gipsovinil12%
                .col-md-3
                    center
                        h4 Гипсодекор
                        img(onclick="SelectMaterialEnd('gipsodekor12','%number%');", src='img/material/23.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %gipsodekor12%
                .col-md-3
                    center
                        h4 Гипсодекор
                        img(onclick="SelectMaterialEnd('gipsokarton12','%number%');", src='img/material/24.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %gipsokarton12%
                .col-md-3
                    center
                        h4 Декоративный бумажно-слоистый пластик
                        img(onclick="SelectMaterialEnd('dekorativnyiyBumazhno','%number%');", src='img/material/21.png', data-dismiss='modal', style='width: 130px;')
                        h4 Цена: %dekorativnyiyBumazhno%