body {
  min-height: 1000px;
  background-image: url("http://pattern4site.ru/images/crystal/_thumb/2-fon-svetlyy-kristaly.png");
}

.navbar-static-top {
  margin-bottom: 20px;
}
.jumbotron{
  background: rgba(238, 238, 238, 0.75);
}
.navbar-inverse {
  background-image: url("http://pattern4site.ru/images/crystal/_thumb/1-temnaya-tekstura-kristalov.png");
}